@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(27, 27, 27);
}

/*header*/

header{
    width: 100%;
    height: 80px;
    background-color: rgba(8, 8, 8, 0.904);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1;
    box-shadow: 1px 1px 8px rgb(51, 51, 51);
}

header h1{
    color: rgb(255, 232, 232);
}

header h1 span{
    color: rgb(255, 46, 46);
}

.navegacao ul{
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 1.3rem;
}

.navegacao  a {
    color: rgb(214, 214, 214);
    padding: 10px;
    border-radius: 10px;
}

.navegacao  a:hover{
    transition: 1s;
    color: white;
    background-color: gray;
    border-radius: 10px;
}

.menu{
    display: none;
}

.display-right{
    display: flex;
    gap: 20px;
    align-items: center;
}

.Thema{
    border: 1px solid white;
    border-radius: 50px;
    width: 60px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
}

.Thema img{
    width: 25px;
    height: 25px;
}

.selector{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: white;
    top: 4px;
    left: 5px;
    animation: slider-lightToLight 0.2s linear;
}

.selector-light{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background-color: rgb(49, 49, 49);
    top: 4px;
    left: 33px;    
    animation: slider-darkToLight 0.2s linear;
}

@keyframes slider-lightToLight {
    0%{
        transform: translateX(30px);
        background-color: rgb(49, 49, 49);        
    }
    50%{
        transform: translate(19px);
        background-color: rgb(150, 150, 150);        
    }
    100%{
        transform: translateX(5px);
        background-color: rgb(245, 245, 245);
    }
}

@keyframes slider-darkToLight {
    0%{
        transform: translateX(-30px);
        background-color: rgb(245, 245, 245);
    }
    50%{
        transform: translate(-19px);
        background-color: rgb(150, 150, 150);
    }
    100%{
        transform: translateX(-5px);
        background-color: rgb(49, 49, 49);
    }
}


    /*responsive header*/

    @media only screen and (max-width: 750px) {
        
        header h1{
            font-size: 20px;
        }

        header span {
            font-size: 20px;
        }

        .menu{
            display: flex;
            flex-direction: column;
            gap: 7px;
            cursor: pointer;
            padding: 15px;
        }
        

        .menu span{
            padding: 1px 12px;
            background-color: white;
        }
        
        .navegacao{
           display: none;
           position: absolute;
           width: 100%;
           top: 80px;
           background-color: rgba(8, 8, 8, 0.904);
           height: 380px;
           left: 0px;
        }
        .display-right{
            gap: 1;
        }

        .navegacao.active{
            display: flex;
            justify-content: center;
        }

        .navegacao ul{
            padding: 20px;
            gap: 60px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 25px;
        }
    }

    /*responsive header*/
/*fim header*/


/*home*/


.home{
    height: 680px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 40px 10%;
    background-color: rgb(32, 32, 32);
}

.home img{
    height: 70%;
    border-radius: 10px;

    transform: translateY(0px);
    animation: float 2s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }

    50%{
        transform: translateY(-20px);        
    }

    100%{
        transform: translateY(0px);
    }
}

.home_texto{
    padding: 100px;
    text-align: left;
}

.home_texto h1{   
    color: rgb(192, 192, 192);
    font-size: 40px;
}

.home_texto .digitando{
    color: rgb(192, 192, 192);
    font-size: 60px;
    animation: digitando 1s infinite;
}


@keyframes digitando {
    0%{
        opacity: 0;
    }

    50%{
        opacity: 1;
    }

    100%{
        opacity: 0;
    }
}


.home_texto span{
    font-family: 'Oleo Script', cursive;
    color: rgb(255, 46, 46);
}

.home_texto h2{
    color: white;    
    line-height: 0 20px;
}

.home_texto .ultimo{
    margin-bottom: 40px;
}

.home_texto a{
    padding: 20px;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-weight: bold;
}
.home_texto a:hover{
    background-color: rgb(155, 155, 155);
    color: rgb(48, 48, 48);
    transition: 0.5s;
}

/*responsive home*/

@media screen and (min-width: 1000px) and (max-width: 1430px){
    .home{
        padding: 5vh 5%;
    }
    .home_texto{
        padding: 0;
    }
}

@media screen and (max-width: 1000px) and (min-width: 878px) {
    .home{
        padding: 8% 5%;
    }
    .home_texto{
        padding: 0;
    }
    .home_texto h1{
        font-size: 35px;
    }
    .home img{
        height: auto;
        width: 300px;
    }
    
}
@media screen and (max-width: 878px) and (min-width: 751px){
    .home{
        padding: 0 5%;
        height: 750px;
    }
    .home_texto{
        padding: 0;
    }
    .home_texto h1{
        font-size: 35px;
    }
    .home_texto h2{
        font-size: 20px;
    }

    .home img{
        height: auto;
        width: 250px;
    }
}
@media screen and (max-width: 750px){
    .home{
        padding: 5vh 5%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 20px;
        height: 680px;
    }

    .home img{
        width: 200px;
        height: auto;
    }

    .home_texto{
        padding: 0;
    }
    .home_texto h1{
        font-size: 30px;
    }
    .home_texto .digitando{
        color: rgb(192, 192, 192);
        font-size: 30px;
        animation: digitando 1s infinite;
    }
    .home_texto h2{
        line-height: 20px 0;
        font-size: 25px;
    }

    .home_texto .btn_link{
        font-size: 13px;
    }

}


/*fim responsive home*/

/*fim home*/

/*tecnologias*/

.tecnologias{
    height: 162px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px 20%;
    flex-direction: row;

    background-image: url('./img/Code_background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2560px;
}

.tecnologias img{
    width: 100px;
    filter: grayscale(1);
}

.tecnologias img:hover{
    filter: grayscale(0);    
}

@media only screen and (max-width: 750px) {
    .tecnologias{
        height: 100px;
        padding: 20px 5%;
    }
    
    .tecnologias img{
        width: 70px;
    }
}

/*fim tecnologias*/

/*sobre mim*/

.sobre{
    padding: 5% 10%;
    margin: 30px 10%;
    margin-top: 30px;
    background-color: rgb(48, 48, 48);
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(66, 66, 66);
    display: grid;
    grid-template-rows: 216px auto;
}  

.sobre_mim{
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;

}

.sobre_mim h1{
    font-size: 50px;
    font-family: 'Oleo Script', cursive;
    color: rgb(255, 46, 46);
}

.sobre_mim h2{
    margin-bottom: 20px;
    color: rgb(153, 153, 153);
}

.sobre_mim span{
    height: 20px;
    width: 20px;
    background-color: rgb(255, 46, 46);
    border-radius: 50%;
    display: block;
}

.sobre_mim .cima{
    transform: translateY(-10px);
    animation: pular1 2s infinite;
}

.sobre_mim .baixo{
    transform: translateY(0);
    animation: pular2 2s infinite;
}

@keyframes pular1 {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes pular2 {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-10px);
    }
}

.texto p{
    font-size: 20px;
    color: rgb(207, 207, 207);
}

.texto span{
    color: rgb(255, 63, 63);
}

@media screen and (max-width: 789px) and (min-width:400px){
    .sobre{
        height: 700px;
        grid-template-rows: 160px auto;
        padding: 5px 5%;
    }

    .sobre_mim h1{
        font-size: 30px;
    }
    .sobre_mim h2{
        font-size: 18px;
    }
    
    .texto{
        overflow-y: auto;
    }


    .sobre_mim span{
        width: 15px;
        height: 15px;
    }
}

@media screen and (max-width: 399px){
    .sobre{
        padding: 5px 5%;
        margin: 30px 5%;
    }

    .texto p{
        font-size: 15px;
    }

    .texto span{
        font-size: 15px;
    }
}


/*fim sobre mim*/

/*portifolio*/

.portifolio{
    margin: 50px 10%;
    background-color: rgb(48, 48, 48);
    padding: 5% 10%;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(66, 66, 66);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.portifolio h1{
    color: rgb(192, 192, 192);
    font-size: 30px;
}

.lista_projeto{
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 40px;
}

.desactive{
    display: none;
}

.portifolio button{
    display: none;
}

.portifolio .active{
    display: block;
    width: 150px;
    height: 50px;
    background-color: transparent;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 10px;
    font-size: 17px;
    color: rgb(182, 182, 182);
}

.portifolio .active:hover{
    border: 2px solid rgb(160, 160, 160);
    background-color: rgb(80, 80, 80);
    color: black;
}

.lista_projeto .projetos{
    width: 340px;
    height: auto;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 5px;
    box-shadow: 2px 4px 10px rgb(14, 14, 14);
}

.lista_projeto .projetos img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
}

.lista_projeto .projetos .description{
    padding: 0 10px;
}

.lista_projeto .projetos .description h2,p{
    margin: 10px 0;
    color: white;
}

.lista_projeto .projetos .description .link_projeto{
    margin-top: 10px;
    text-align: center;
    padding: 5px 0;
    border-radius: 20px;
    background-color: rgb(24, 24, 24);
    width: 125px;
    font-size: 13px;
}

@media screen and (max-width: 450px) {
    .portifolio {
        padding: 5% 5%;
    }    
}


/*fim portifolio*/

/*contato*/

.contato{
    margin: 50px 10%;
    background-color: rgb(29, 29, 29);
    padding: 5% 10%;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgb(15, 15, 15);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.contato h1{
    color: rgb(192, 192, 192);
    font-size: 30px;
}

.contato .redes_sociais{
    display: flex;
    justify-content: center;
    flex-direction: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
.contato .redes_sociais div{
    width: 294px;
    text-align: center;
    border: 1px solid gray;
}
.redes_sociais div:hover{
    background-color: rgb(65, 64, 64);
}
.redes_sociais img{
    width: 100px;
    padding: 20px;
}

.redes_sociais p{
    font-size: 20px;
    color: rgb(211, 211, 211);
    font-weight: bold;
    line-height: 50px;
}
.redes_sociais p a{
    font-size: 20px;
    color: rgb(211, 211, 211);
    font-weight: bold;
    line-height: 50px;
    cursor: pointer;
}

@media screen and (max-width: 700px) and (min-width: 381px) {
    .contato h1{
        font-size: 25px;
        margin: 25px 0;
    }
}   

@media screen and (max-width: 380px){
    .contato{
        margin: 50px 5%;
        padding: 5% 2%;
    }

    .contato .redes_sociais div{
        width: 90%;
    }

    .contato h1{
        font-size: 25px;
        line-height: 50px;
        margin: 20px 0;
    }

    .redes_sociais img{
        width: 100px;
    }

    .redes_sociais p{
        font-size: 15px;
    }
}

/*fim contato*/


/*footer*/

footer{
    background-color: rgb(20, 20, 20);
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    font-size: 18px;
    color: rgb(189, 189, 189);
}

@media screen and (max-width: 1000px) and (min-width: 750px){
    footer p{
        font-size: 15px;
    }
}

@media screen and (max-width: 749px) {
    footer p {
        font-size: 8px;
    }
}

/*fim footer*/